*.tsbuildinfo
.DS_Store
.dev.vars
.dev.vars.production
.env
.envrc
.react-router/
.wrangler/
app/components/ui/icons/
build/
node_modules/
pnpm-debug.log*
worker-configuration.d.ts
worktrees/

# testing
__screenshots__/
test-results/
playwright-report/
