/* biome-ignore-all lint/suspicious/noUnknownAtRules: . */
@import "tailwindcss";
@source ".";

@theme {
	--breakpoint-xs: 30rem;

	/* escape * to avoid biome parse error */
	--color-\*: initial;
}

@theme [data-theme="light"] {
	--background: oklch(1 0 0);
	--foreground: oklch(0.1776 0 0);
}

[data-theme="dark"] {
	--background: oklch(0.1776 0 0);
	--foreground: oklch(1 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

html {
	scrollbar-gutter: stable;
}

html,
body {
	height: 100lvh;
}
