/* biome-ignore-all lint/suspicious/noUnknownAtRules: . */
@import "tailwindcss";
@source ".";

@theme {
	--breakpoint-xs: 30rem;

	/* escape * to avoid biome parse error */
	--color-\*: initial;
}

/* theme colors
 * see: [Harmonizer](https://harmonizer.evilmartians.com)
 */

@theme [data-theme="light"] {
	--background: oklch(1 0 0);
	--foreground: oklch(0.3477 0 0); /* --gray-8 */

	--primary-1: var(--color-blue-1);
	--primary-2: var(--color-blue-2);
	--primary-3: var(--color-blue-3);
	--primary-4: var(--color-blue-4);
	--primary-5: var(--color-blue-5);
	--primary-6: var(--color-blue-6);
	--primary-7: var(--color-blue-7);
	--primary-8: var(--color-blue-8);

	--secondary-1: var(--color-purple-1);
	--secondary-2: var(--color-purple-2);
	--secondary-3: var(--color-purple-3);
	--secondary-4: var(--color-purple-4);
	--secondary-5: var(--color-purple-5);
	--secondary-6: var(--color-purple-6);
	--secondary-7: var(--color-purple-7);
	--secondary-8: var(--color-purple-8);

	--destructive-1: var(--color-red-1);
	--destructive-2: var(--color-red-2);
	--destructive-3: var(--color-red-3);
	--destructive-4: var(--color-red-4);
	--destructive-5: var(--color-red-5);
	--destructive-6: var(--color-red-6);
	--destructive-7: var(--color-red-7);
	--destructive-8: var(--color-red-8);

	--gray-1: oklch(0.95 0 0);
	--gray-2: oklch(0.89 0 0);
	--gray-3: oklch(0.82 0 0);
	--gray-4: oklch(0.75 0 0);
	--gray-5: oklch(0.68 0 0);
	--gray-6: oklch(0.59 0 0);
	--gray-7: oklch(0.48 0 0);
	--gray-8: oklch(0.35 0 0);

	--red-1: oklch(0.95 0.03 15);
	--red-2: oklch(0.9 0.07 15);
	--red-3: oklch(0.84 0.12 15);
	--red-4: oklch(0.77 0.17 15);
	--red-5: oklch(0.69 0.17 15);
	--red-6: oklch(0.6 0.15 15);
	--red-7: oklch(0.5 0.12 15);
	--red-8: oklch(0.35 0.09 15);

	--yellow-1: oklch(0.95 0.03 65);
	--yellow-2: oklch(0.89 0.07 65);
	--yellow-3: oklch(0.83 0.12 65);
	--yellow-4: oklch(0.76 0.17 65);
	--yellow-5: oklch(0.68 0.17 65);
	--yellow-6: oklch(0.59 0.15 65);
	--yellow-7: oklch(0.49 0.12 65);
	--yellow-8: oklch(0.35 0.09 65);

	--green-1: oklch(0.94 0.03 170);
	--green-2: oklch(0.88 0.07 170);
	--green-3: oklch(0.81 0.12 170);
	--green-4: oklch(0.73 0.17 170);
	--green-5: oklch(0.65 0.17 170);
	--green-6: oklch(0.56 0.15 170);
	--green-7: oklch(0.46 0.12 170);
	--green-8: oklch(0.33 0.09 170);

	--blue-1: oklch(0.95 0.03 230);
	--blue-2: oklch(0.88 0.07 230);
	--blue-3: oklch(0.82 0.12 230);
	--blue-4: oklch(0.74 0.17 230);
	--blue-5: oklch(0.66 0.17 230);
	--blue-6: oklch(0.58 0.15 230);
	--blue-7: oklch(0.47 0.12 230);
	--blue-8: oklch(0.34 0.09 230);

	--purple-1: oklch(0.95 0.03 320);
	--purple-2: oklch(0.9 0.07 320);
	--purple-3: oklch(0.84 0.12 320);
	--purple-4: oklch(0.77 0.17 320);
	--purple-5: oklch(0.69 0.17 320);
	--purple-6: oklch(0.6 0.15 320);
	--purple-7: oklch(0.5 0.12 320);
	--purple-8: oklch(0.36 0.09 320);
}

[data-theme="dark"] {
	--background: oklch(0.1776 0 0);
	--foreground: oklch(0.9702 0 0); /* --gray-8 */

	--primary-1: var(--color-blue-1);
	--primary-2: var(--color-blue-2);
	--primary-3: var(--color-blue-3);
	--primary-4: var(--color-blue-4);
	--primary-5: var(--color-blue-5);
	--primary-6: var(--color-blue-6);
	--primary-7: var(--color-blue-7);
	--primary-8: var(--color-blue-8);

	--secondary-1: var(--color-purple-1);
	--secondary-2: var(--color-purple-2);
	--secondary-3: var(--color-purple-3);
	--secondary-4: var(--color-purple-4);
	--secondary-5: var(--color-purple-5);
	--secondary-6: var(--color-purple-6);
	--secondary-7: var(--color-purple-7);
	--secondary-8: var(--color-purple-8);

	--destructive-1: var(--color-red-1);
	--destructive-2: var(--color-red-2);
	--destructive-3: var(--color-red-3);
	--destructive-4: var(--color-red-4);
	--destructive-5: var(--color-red-5);
	--destructive-6: var(--color-red-6);
	--destructive-7: var(--color-red-7);
	--destructive-8: var(--color-red-8);

	--gray-1: oklch(0.37 0 0);
	--gray-2: oklch(0.49 0 0);
	--gray-3: oklch(0.59 0 0);
	--gray-4: oklch(0.68 0 0);
	--gray-5: oklch(0.76 0 0);
	--gray-6: oklch(0.84 0 0);
	--gray-7: oklch(0.91 0 0);
	--gray-8: oklch(0.97 0 0);

	--red-1: oklch(0.38 0.09 15);
	--red-2: oklch(0.5 0.13 15);
	--red-3: oklch(0.6 0.15 15);
	--red-4: oklch(0.7 0.17 15);
	--red-5: oklch(0.78 0.17 15);
	--red-6: oklch(0.85 0.11 15);
	--red-7: oklch(0.91 0.06 15);
	--red-8: oklch(0.98 0.02 15);

	--yellow-1: oklch(0.37 0.09 65);
	--yellow-2: oklch(0.49 0.13 65);
	--yellow-3: oklch(0.6 0.15 65);
	--yellow-4: oklch(0.69 0.17 65);
	--yellow-5: oklch(0.77 0.17 65);
	--yellow-6: oklch(0.84 0.11 65);
	--yellow-7: oklch(0.91 0.06 65);
	--yellow-8: oklch(0.97 0.02 65);

	--green-1: oklch(0.35 0.09 170);
	--green-2: oklch(0.47 0.13 170);
	--green-3: oklch(0.57 0.15 170);
	--green-4: oklch(0.65 0.17 170);
	--green-5: oklch(0.74 0.17 170);
	--green-6: oklch(0.82 0.11 170);
	--green-7: oklch(0.9 0.06 170);
	--green-8: oklch(0.97 0.02 170);

	--blue-1: oklch(0.36 0.09 230);
	--blue-2: oklch(0.48 0.13 230);
	--blue-3: oklch(0.58 0.15 230);
	--blue-4: oklch(0.66 0.17 230);
	--blue-5: oklch(0.75 0.17 230);
	--blue-6: oklch(0.83 0.11 230);
	--blue-7: oklch(0.9 0.06 230);
	--blue-8: oklch(0.97 0.02 230);

	--purple-1: oklch(0.38 0.09 320);
	--purple-2: oklch(0.5 0.13 320);
	--purple-3: oklch(0.61 0.15 320);
	--purple-4: oklch(0.7 0.17 320);
	--purple-5: oklch(0.78 0.17 320);
	--purple-6: oklch(0.85 0.11 320);
	--purple-7: oklch(0.91 0.06 320);
	--purple-8: oklch(0.98 0.02 320);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-primary-1: var(--primary-1);
	--color-primary-2: var(--primary-2);
	--color-primary-3: var(--primary-3);
	--color-primary-4: var(--primary-4);
	--color-primary-5: var(--primary-5);
	--color-primary-6: var(--primary-6);
	--color-primary-7: var(--primary-7);
	--color-primary-8: var(--primary-8);

	--color-secondary-1: var(--secondary-1);
	--color-secondary-2: var(--secondary-2);
	--color-secondary-3: var(--secondary-3);
	--color-secondary-4: var(--secondary-4);
	--color-secondary-5: var(--secondary-5);
	--color-secondary-6: var(--secondary-6);
	--color-secondary-7: var(--secondary-7);
	--color-secondary-8: var(--secondary-8);

	--color-destructive-1: var(--destructive-1);
	--color-destructive-2: var(--destructive-2);
	--color-destructive-3: var(--destructive-3);
	--color-destructive-4: var(--destructive-4);
	--color-destructive-5: var(--destructive-5);
	--color-destructive-6: var(--destructive-6);
	--color-destructive-7: var(--destructive-7);
	--color-destructive-8: var(--destructive-8);

	--color-gray-1: var(--gray-1);
	--color-gray-2: var(--gray-2);
	--color-gray-3: var(--gray-3);
	--color-gray-4: var(--gray-4);
	--color-gray-5: var(--gray-5);
	--color-gray-6: var(--gray-6);
	--color-gray-7: var(--gray-7);
	--color-gray-8: var(--gray-8);

	--color-red-1: var(--red-1);
	--color-red-1: var(--red-2);
	--color-red-3: var(--red-3);
	--color-red-4: var(--red-4);
	--color-red-5: var(--red-5);
	--color-red-6: var(--red-6);
	--color-red-7: var(--red-7);
	--color-red-8: var(--red-8);

	--color-blue-1: var(--blue-1);
	--color-blue-2: var(--blue-2);
	--color-blue-3: var(--blue-3);
	--color-blue-4: var(--blue-4);
	--color-blue-5: var(--blue-5);
	--color-blue-6: var(--blue-6);
	--color-blue-7: var(--blue-7);
	--color-blue-8: var(--blue-8);

	--color-yellow-1: var(--yellow-1);
	--color-yellow-2: var(--yellow-2);
	--color-yellow-3: var(--yellow-3);
	--color-yellow-4: var(--yellow-4);
	--color-yellow-5: var(--yellow-5);
	--color-yellow-6: var(--yellow-6);
	--color-yellow-7: var(--yellow-7);
	--color-yellow-8: var(--yellow-8);

	--color-green-1: var(--green-1);
	--color-green-2: var(--green-2);
	--color-green-3: var(--green-3);
	--color-green-4: var(--green-4);
	--color-green-5: var(--green-5);
	--color-green-6: var(--green-6);
	--color-green-7: var(--green-7);
	--color-green-8: var(--green-8);

	--color-purple-1: var(--purple-1);
	--color-purple-2: var(--purple-2);
	--color-purple-3: var(--purple-3);
	--color-purple-4: var(--purple-4);
	--color-purple-5: var(--purple-5);
	--color-purple-6: var(--purple-6);
	--color-purple-7: var(--purple-7);
	--color-purple-8: var(--purple-8);
}

html {
	scrollbar-gutter: stable;
}

html,
body {
	height: 100lvh;
}
